* {
	background-color: #282c34;
}

div {
	background-color: #282c34;
	text-align: center;
}

Canvas {
	min-height: 100vh;
}

button {
	color: white;
	padding: 0.7rem;
	background-color: #2d323b;
	border-radius: 0.5rem;
	border: none;
	margin: 0.5rem;
	font-weight: bold;
}

button:hover {
	background-color: #3d4655;
	cursor: pointer;
}

button.active {
	background-color: #3d4655;
	cursor: pointer;
}